
.newsletter {
    width: 634px;
    text-align: center;
}

.signup-message {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    padding-bottom: 64px;
}

.subscription-response {
    font-size: 14px;
    line-height: 22px;
}
.subscription-response.error {
    color: red;
}
.subscription-response.success {
    color: #5EDC4B;
}

.newsletter-input {
    display: flex;
    gap: 16px;
    padding-bottom: 48px;
}

.newsletter-email {
    flex-grow: 1;
}